# RUN:
# CT_METAL=1 pip install ctransformers --no-binary ctransformers

# Core packages
jupyter
python-dotenv
mypy
numba
numpy
typing_extensions
Cython
plotly

# Test packages
hypothesis
pytest
pytest-env
pytest-runner

# ML packages
embeddings
datasets
torch
langchain
opencv-python
huggingface_hub
diffusers
openai
tensorflow-macos
tensorflow-metal

# Uncategorized
colorama
networkx
pydot
streamlit
streamlit-ace
watchdog
evaluate
seqeval
spaCy
flair
einops

# Speech recognition
SpeechRecognition
git+https://github.com/openai/whisper.git
pyaudio

# Other
# nemo-toolkit
# bertopic
# asteroid

